/* General Styles */
body {
    font-family: 'Arial', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Header Styles */
nav a { 
    color: rgb(16, 25, 43); 
    font-weight: bold;
}

.navbar {
    justify-content: flex-end;
    background-color: rgb(126, 141, 156)
}

.navbar-brand.no-hover-color {
    color: rgb(16, 25, 43) !important; 
}

.navbar-brand.no-hover-color:hover {
    color: rgb(16, 25, 43) !important;
}
.navbar-nav {
    text-align: center;
}

.navbar-nav .nav-item {
    margin: 0 10px;
}

.navbar-nav .nav-link {
    color: rgb(16, 25, 43);
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #2cc7df;
}

/* Hero Section Styles */
.hero {
    background: linear-gradient(rgba(52, 58, 64, 0.7), rgba(32, 87, 143, 0.7));
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero-text h2 {
    font-size: 36px;
    margin: 0;
}

.hero-text p {
    font-size: 18px;
}

.highlight {
    color: #17a2b8;
}

/* About Section Styles */
.about {
    background-color: #f8f9fa;
}

/* Social Media Section Styles*/
.social-media-section {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
}

.social-links img {
    width: 75px;
    padding: 5px;
}
/* Contact Section Styles */
.contact {
    background-color: #fff;
}

.contact h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
}

.contact label {
    display: block;
    margin-bottom: 10px;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact button {
    padding: 10px 20px;
    background-color: #17a2b8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact button:hover {
    background-color: #138496;
}

/* Footer Section Styles */
footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Responsive Styles */
@media (max-width: 767px) {
    header h1 {
        font-size: 20px;
    }

    .hero-text h2 {
        font-size: 28px;
    }

    .hero-text p {
        font-size: 16px;
    }

    .about h2,
    .portfolio h2,
    .contact h2 {
        font-size: 28px;
    }
}
